.slider {
	display: block;
	width: 100%;
	max-width: 300px;
	height: 10px !important;
	min-height: 10px !important;
	margin: 100px auto 0;
	border: 1px solid white;
	border-radius: 100px;
}

.slider__inner {
	display: block;
	width: 0%;
	height: 100%;
	background: #8e00ed;
	border-radius: 100px;
	animation: load 15s infinite;
	box-shadow: inset 1px 1px 0 0 red;
}

.slider__text {
	text-align: center;
	text-transform: uppercase;
	font-family: Bayon;
}

@keyframes load {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}
